$theme-color: #1074e7;
$grey-color: #586069;
$dark-color: #24292e;

a, a:visited{color:black}
a:hover{
    color:$theme-color
}

body{
    font-family: 'Open Sans', sans-serif !important; overflow-x:hidden;
}

nav{
    padding:30px 0; font-weight:14px; 
    ul{
        margin:0; padding:0; display:flex; flex-direction:row; justify-content: flex-end;
    }

    li{
        list-style-type: none; margin-left:20px; color:$dark-color;

        &:hover{
            color:$theme-color
        }
    }
}

h1{
    font-size:40px; text-align:center;
    font-weight: 700; color:$dark-color;
    margin-bottom:20px;
}

.hero{
    padding-top:100px;
    &__date{
        color:$theme-color;
        text-align:center;
        font-size:20px;
        margin-bottom:20px;
    }

    .button--blue{
        display:block; margin:auto;
    }
}

.button{
    font-size:14px; padding:20px; border-radius:3px; outline:0; border:0; font-weight: 600; cursor: pointer;

    &--blue{
        @extend .button;
        background-color:$theme-color;
        color:white;

        &:hover{
            background-color:#0366d6; 
        }
    }
}

.speaker{
    &.wrapper{
        background-color:#032f62;
        max-width:800px; margin:auto;
        border-radius:10px; padding:40px;
    }

    &__card{
        background-color:white; padding:20px;
        width: 340px; height:440px; border-radius:5px; margin:auto;
    }

    &__image{
        height:100%;
        background-image:url('https://firebasestorage.googleapis.com/v0/b/awc-2020.appspot.com/o/1573136746547-zhenya.jpg?alt=media&token=454d0f57-9535-441c-a5b6-d2b7d351d2b9');
        background-size:cover; background-repeat:no-repeat; position: relative; display:flex; flex-direction: column; justify-content: flex-end;

        &::after{
            content: " ";
            height:400px; width:300px; 
            position: absolute;
            top:0; left:0; z-index: 1;
            background-color:$theme-color; 
            mix-blend-mode: overlay;
        }
    }

    &__details{
        text-align:center;
        font-size:18px; padding:20px; color:white; font-weight: bold;
    }
}

h2{
    font-size:30px; text-align:center; color:$dark-color; margin-top:100px; margin-bottom:30px;
}

.about{
    padding-bottom:100px;
    &__desc{
        max-width:800px; margin:auto; text-align:center; color: $grey-color; line-height: 35px;
    }
}

footer{
    .grid-x{
        border-top:1px solid $theme-color;
        padding:30px 0;
    }

    .codeOfConduct{
        text-align:right;
    }
}

@media only screen and (max-width:640px){

    nav{
        .logo{text-align:center;padding-bottom:30px;}
        ul{justify-content: space-evenly; border-top:1px solid $theme-color; padding-top:15px;}
        li{margin:0;}
    }
    .about{
        padding-bottom:40px;
        &__desc{
            text-align:left;
            line-height:25px;
            padding:0 20px;
        }

        &__title{
            margin-top:40px;
        }
    }

    .speaker{
        &.wrapper{
            padding:1px 0; border-radius:0;
        }

        &__card{
            width:300px; 
            height:400px;
            margin:40px auto;
        }

        &__image{

            &::after{
                width:260px;
                height:360px;
            }
        }

    }

    footer{
        p{text-align: center;}
    
        .codeOfConduct{
            margin-top:10px;
            text-align:center;
        }
    }
}

@media only screen and (min-width:641px){
    .slick-slide{
        transform: scale(0.8) !important;
    }
    
    .slick-active.slick-current{
        transform: scale(1) !important;
    }
    
    
    .slick-list.draggable{
        overflow:visible
    }
}