a, a:visited {
  color: black;
}

a:hover {
  color: #00b140;
}

a.button--blue {
  color: white;
}

a.button--blue:hover {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  overflow-x: hidden;
}

nav {
  padding: 30px 0;
  font-weight: 14px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
  color: #24292e;
}

nav li:hover {
  color: #00b140;
}

.logo {
  height: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: #24292e;
  margin-bottom: 20px;
}

.hero {
  padding-top: 100px;
}

.hero__date {
  color: #00b140;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero__venue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.hero__venue p {
  color: #00b140;
  text-align: center;
  font-size: 20px;
  padding: 0 30px;
}

.hero__venue p:first-child {
  border-right: 1px solid #00b140;
}

.hero .button--blue {
  display: block;
  margin: auto;
}

.button, .button--blue {
  font-size: 14px;
  padding: 20px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  width: 188px;
}

.button--blue {
  background-color: #00b140;
  color: white;
}

.button--blue:hover {
  background-color: #04752d;
}

.speaker.wrapper {
  background-color: #04752d;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  padding: 40px;
}

.speaker__card {
  background-color: white;
  padding: 20px;
  width: 340px;
  height: 440px;
  border-radius: 5px;
  margin: auto;
}

.speaker__image, .speaker__image--one, .speaker__image--two, .speaker__image--three {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.speaker__image--one {
  background-image: url("../images/dikshita.png");
}

.speaker__image--two {
  background-image: url("../images/stella.png");
}

.speaker__image--three {
  background-image: url("../images/nithya.jpg");
}

.speaker__details {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: none !important;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #24292e;
  margin-top: 100px;
  margin-bottom: 30px;
}

.about {
  padding-bottom: 100px;
}

.about__desc {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #586069;
  line-height: 35px;
}

footer .grid-x {
  border-top: 1px solid #00b140;
  padding: 30px 0;
}

footer .codeOfConduct {
  text-align: right;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
  nav .logo {
    height: 40px;
    display: block;
    margin: auto;
  }
  nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top: 1px solid #00b140;
    padding-top: 15px;
    margin-top: 20px;
  }
  nav li {
    margin: 0;
  }
  .hero__venue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__venue p {
    padding: 30px 0px;
  }
  .hero__venue p:first-child {
    border-right: 0;
    border-bottom: 1px solid #00b140;
  }
  .about {
    padding-bottom: 40px;
  }
  .about__desc {
    text-align: left;
    line-height: 25px;
    padding: 0 20px;
  }
  .about__title {
    margin-top: 40px;
  }
  .speaker.wrapper {
    padding: 1px 0;
    border-radius: 0;
  }
  .speaker__card {
    width: 300px;
    height: 400px;
    margin: 40px auto;
  }
  .speaker__image::after, .speaker__image--one::after, .speaker__image--two::after, .speaker__image--three::after {
    width: 260px;
    height: 360px;
  }
  footer p {
    text-align: center;
  }
  footer .codeOfConduct {
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 641px) {
  .slick-slide {
    -webkit-transform: scale(0.8) !important;
            transform: scale(0.8) !important;
  }
  .slick-active.slick-current {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .slick-list.draggable {
    overflow: visible;
  }
  .slick-arrow {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    background-color: white;
    outline: none;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    z-index: 2;
  }
  .slick-arrow:hover {
    background-color: #24292e;
    color: white;
  }
  .slick-arrow.slick-next {
    right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */